{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>
</div>
<a href="{{ app.request.uri }}admin_panel">admin_panel</a>
<br>
<a href="{{ app.request.uri }}boutique">boutique</a>
<br>
<a href="{{ app.request.uri }}contact">contact</a>
<br>
<a href="{{ app.request.uri }}equipe">equipe</a>
<br>
<a href="{{ app.request.uri }}partenariat">partenariat</a>
{% endblock %}
