{% extends 'base.html.twig' %}
{% block body %}
{% for projet in projets %}
    <article>
        <h2>{{ projet.titre }}</h2>
        <div> Ecrit le {{ projet.date | date('d/m/Y') }} à {{ projet.date | date('H:i') }}</div>
        <img src="{{ projet.photo }}">
        <p>{{ projet.description | raw}}</p>
        <a href="{{ app.request.uri }}/{{ projet.id }}">En savoir plus</a>

    </article>


{% endfor %}
{% endblock %}
