{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('style/admin.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ user }}! ✅</h1>
    <hr>
    <h2>Creer un nouveau projet</h2>
    {{ form_start(formProjet) }}
    <div class="form">
        <div class="form-group">
            {{ form_row(formProjet.Titre, { 'attr': {'placeholder': 'Titre du projet'}})}}
        </div>

        <div class="form-group">
            {{ form_row(formProjet.Photo, { 'attr': {'placeholder': 'Photo de couverture du projet'}})}}
        </div>

        <div class="form-group">
            {{ form_row(formProjet.Date, { 'attr': {'class': 'form-group'} }) }}
        </div>



        <div class="form-group">
            {{ form_row(formProjet.Description, { 'attr': {'placeholder':' Description du projet'}})}}
        </div>

        <div class="form-group">
            {{ form_row(formProjet.Texte, { 'attr': {'placeholder': 'Texte du projet'}})}}
        </div>
            
        {{ form_row(formProjet.Submit, { 'label': 'Enregistrer'})}}

        {{ form_end(formProjet) }}
    </div>
    
</div>
{% endblock %}
